body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #356df1;
  --text-color: #333;
  --border-color: #ddd;
  --light-gray: #f2f2f2;
}

.bold {
  font-weight: bold;
}

.small, .error {
  font-size: 0.875rem;
  opacity: 0.7;
}

.error {
  color: red;
}

.centred, .error {
  text-align: center !important;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}
