.feed {
    width: 95%;
    max-width: 1200px;
    margin: 20px auto;
}

.feedHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.feedTypeSelectors {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--border-color);
}

.selectorItem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: -1px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    transition: all 0.2s ease;
    line-height: 1;
    box-sizing: border-box;
}

.selectorItem:hover {
    background-color: var(--light-gray);
    border-radius: 6px;
    transform: translateY(-1px);
}

.active {
    border-bottom: 4px solid var(--border-color) !important;
    font-weight: bold;
}

.active:hover {
    border-color: var(--gray) !important;
}

.loadMoreButton {
    width: 100%;
    background: none;
    border: none;
    margin-top: 2rem;
    color: var(--gray);
    transition: all 0.2s ease;
    cursor: pointer;
}

.loadMoreButton:hover:not(:disabled) {
    font-weight: bold;
    text-decoration: underline;
}

.loadMoreButton:disabled {
    cursor: default;
}

/* STILL NEED STYLES FOR .loadMoreButton AND .postList */
