.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.profileHeader {
    padding: 2rem 0;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    gap: 1rem;
    align-items: center;
}

.avatar {
    width: 8rem;
    height: 8rem;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    overflow: visible;
}

.nameRow {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    gap: 0;
}

.nameRow h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    padding-right: 2rem;
}

.followButton {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.handle {
    margin: 0;
    color: var(--gray);
    margin-top: -2px;
}

.metrics {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: var(--text-color);
}

.metrics a {
    text-decoration: none;
    color: inherit;
}

.metrics a:hover {
    text-decoration: underline;
}