name: Lint

on:
    workflow_dispatch: 
    push:
        branches: [ main, master ]
    pull_request:
        branches: [ main, master ]
    
jobs:
    lint:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./SourceCode

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: "20"
                cache: "npm"
                cache-dependency-path: "./SourceCode/package-lock.json"

            - name: Install SourceCode Deps
              run: npm ci

            - name: Install Frontend Deps
              run: npm ci --prefix frontend

            - name: Install Backend Deps
              run: npm ci --prefix backend

            - name: Run Lint
              run: npm run lint
